.HeaderDetailsImage img{
    width: fit-content; 
    height: 170px;
}
.HeaderDetailsSubImage{
    display: flex;
    gap: 5px;
}
.HeadsetProductsCard{
    display: flex;
    flex-direction: column;
    /* width: 188px; */
    min-height: 216px;
    padding-bottom: 8px;
    border-right: 1px solid rgb(234, 234, 234);
    /* justify-content: center;
    align-items: center; */
}
.HeadsetDetails  img{
    height: 15px;
}
.HeadsetDetails div:nth-child(1) p{
    color:#BBBBBF;
    font-size: 10PX;
    line-height: 16px;
    font-family: regular;
    letter-spacing: 0.01px;
} 
.HeadsetDetails div:nth-child(1) h2{
    color: rgb(17, 17, 18);
    font-size: 14px;
    line-height: 20px;
    font-family: semiBold;
    letter-spacing: -0.01px;
}
.HeadsetDetails div:nth-child(1) h5{
    color: rgb(113, 116, 120);
    font-size: 12px;
    line-height: 18px;
    font-family: regular1;
    letter-spacing: 0px;
    flex: 1 1 0%;
}
.HeaderDetailsSubImage h5{
    font-size: 14px;
    line-height: 20px;
    font-family: semiBold;
    letter-spacing: -0.01px;
    color: rgb(0, 140, 0);
}
.HeaderDetailsSubImage p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    color: rgb(113, 116, 120);
    font-family: semiBold;
    text-decoration: line-through;
}
.HeaderDetailsSubImage h4{
    font-size: 14px;
    line-height: 20px;
    font-family: semiBold;
    letter-spacing: -0.01px;
    color: rgb(17, 17, 18);
}
.HeadsetDetails div:nth-child(3) span {
    font-size: 12px;
    color: rgb(6, 31, 128);
    font-family: regular;
    font-style: normal;
}
.HeadsetDetails{
   padding: 4px 4px 8px 12px; 
}
.HeaderDetailsImage{
    position: relative;
}
.HeaderDetailsImage svg {
    position: absolute;
    right: 10px;
    top: 5px;
}
.productHeadsetMain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-top: 10px;
    overflow: none;
}