.HeaderDetailsImage img {
  width: 100%;
}
.HeaderDetailsSubImage {
  display: flex;
  gap: 5px;
}
.HeadsetProductsCard {
  display: flex;
  flex-direction: column;
  min-height: 216px;
  padding-bottom: 8px;
  border-right: 1px solid rgb(234, 234, 234);
  justify-content: space-between;
  
}
.HeadsetDetails img {
  height: 15px;
}
.HeadsetDetails div:nth-child(1) p {
  color: #bbbbbf;
  font-size: 10px;
  line-height: 16px;
  font-family: regular;
  letter-spacing: 0.01px;
}
.HeadsetDetails div:nth-child(1) h2 {
  color: rgb(17, 17, 18);
  font-size: 14px;
  line-height: 20px;
  font-family: semiBold;
  letter-spacing: -0.01px;
}
.HeadsetDetails div:nth-child(1) h5 {
  color: rgb(113, 116, 120);
  font-size: 12px;
  line-height: 18px;
  font-family: regular1;
  letter-spacing: 0px;
  flex: 1 1 0%;
}
.HeaderDetailsSubImage h5 {
  font-size: 14px;
  line-height: 20px;
  font-family: semiBold;
  letter-spacing: -0.01px;
  color: rgb(0, 140, 0);
}
.HeaderDetailsSubImage p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  color: rgb(113, 116, 120);
  font-family: semiBold;
  text-decoration: line-through;
}
.HeaderDetailsSubImage h4 {
  font-size: 14px;
  line-height: 20px;
  font-family: semiBold;
  letter-spacing: -0.01px;
  color: rgb(17, 17, 18);
}
.HeadsetDetails div:nth-child(3) span {
  font-size: 12px;
  color: rgb(6, 31, 128);
  font-family: regular;
  font-style: normal;
}
.HeadsetDetails {
  padding: 4px 4px 8px 12px;
}
.HeaderDetailsImage {
  position: relative;
}
.HeaderDetailsImage svg {
  position: absolute;
  right: 10px;
  top: 5px;
}
.productHeadsetMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 10px;
  overflow: none;
}
.radioLabel {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 6px 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  font-family: regular1;
}
.sortHead h1 {
  font-size: 14px;
  color: #878787;
  margin: 12px;
  font-weight: 400;
  line-height: normal;
  font-family: regular1;
}
.sortHead::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgb(229, 223, 223);
  display: block;
  margin-bottom: 12px;
}
.sortMain {
  position: fixed;
  max-width: 425px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
  height: 0;
  transition: 0.2s ease-in-out;
}
.open {
  height: 205px;
  /* display: none; */
}
/* .sortHead{
    position: relative;
} */
.image{
  width: 100%;
  object-fit: cover;
}
.starDesk{
  background-color: #388e3c;
  border-radius: 3px;
  padding: 2px 4px 2px 6px;
  width: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  display: none;
}
.starDesk p{
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color:#ffffff;
  font-family: semiBold;
}
.starDesk img{
  width:10px;
}
.bank p{
  color: #388e3c;
  font-size: 14px;
  font-weight: 700;
  font-family: regular;
}
.bank {
  display: none;
}

 @media screen and (min-width:1023px) {
  /* .HeadsetProductsCard{
    display: none;
  } */
  .productHeadsetMain{
    /* display: none; */
  }
  .productHeadsetMain {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 16px;
  }
  .HeadsetProductsCard{
    padding: 16px 16px 16px 0;
  }
  .star{
    display: none;
  }
  .starDesk{
    display: flex;
  }
  .bank{
    display: block;
  }

} 
