.desktopColor{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #f0f0f0;
}
.desktopColor img{
    transform: rotate(-90deg);
    height: 10px;
}
.desktopColor p{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    color: rgb(33, 33, 33);
    line-height: 18.2px;
    font-family: semiBold;
}
.white{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
.color{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    
}
.color label{
    padding-left: 11px;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    line-height: 14px;
    font-family: regular1;

}
.colorMain {
    padding: 0 16px 16px;
    display: none;
}
.open .colorMain{
    display: block;
}
.open .desktopColor img{
    transform: rotate(90deg);
}
.more{
    padding: 6px 0;
}
.more p {
    font-size: 12px;
    color: #2874f0;
    font-weight: 500;
    line-height: 16.8px;
    font-family:semiBold;
}
.black{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:black;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
.blue{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:#33A1DE;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
.brown{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:brown;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
.gold{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:#FFD700;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
.green{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:#00AF33;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 11px;
}
