.DesktopFilterRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom:11px;
}
.DesktopFilterRatingMain{
    padding: 0 16px;
}
.DesktopFilterRating p{
    font-size: 13px;
    color: #212121;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 18.2px;
    font-family: semiBold;
}
.DesktopFilterRating img {
    transform: rotate(-90deg);
    height: 10px;
}
.DesktopFilterRatingValue{
    padding: 6px 0;
}
.DesktopFilterRatingValue label{
    padding-left: 11px;
    font-size: 14px;
    color: #212121;
    font-family: regular;
    font-weight: 400;
    line-height: 14px;
}
.DesktopFilterRatingRate{
    display: none;
}
.open .DesktopFilterRatingRate{
    display: block;
}
.open .DesktopFilterRating img{
    transform: rotate(90deg);
}