.desktopMainFilter{
    /* display: none; */
}
.desktopMainFilter{
    /* display: none; */
}
@media screen and (min-width:1024px) {
    .desktopMainFilter{
        display: block;
    }
    .desktopFilterBody{
        /* display: flex; */
    }
}