.ProductDetailsHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(216, 239, 254);
    padding:12px 0px 8px;
    width: 100%;
    position: fixed;
    z-index: 100;

}
.ProductDetailsSearchBtn input{
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
    padding-left:45px ;
    width: 100%;
    margin: 0 4px 0 4px;
    border-color:rgb(46, 161, 255) ;
   
}
.ProductDetailsSearchBtn{
    position: relative;
}
.ProductDetailsSearchBtn svg{
    position: absolute;
    left: 10px;
    top: 8px;
    
}
.ProductDetailsHeader svg{
    margin: 0 8px;
}