
.MenuBarBigScreen{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    display: none;
}
.MenuBarBigScreen img{
    height: 64px;
}
.MenuBigScreenElements{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 12px;
}
.MenuBigScreenElements h4{
    font-size: 14px;
    font-family: semiBold;
}

@media screen and (min-width:1024px) {
    .MenuBarBigScreen{
        display: flex;
    }
}