.Connectivity{
    padding: 12px 19px;
    display: flex;
    gap:19px;
}
.Connectivity input{
    width: 18px;
    height: 18px;
}
.Connectivity label{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: regular1;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
}