.brandName{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 12px 19px;
}
.BrandFooter{
    padding: 8px 16px;
}
.BrandFilter p{
    padding: 13px 16px 0;
    font-size: 12px;
    color: #878787;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    font-family: regular;
}
.brandName label{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    font-family: semiBold;
}
.brandName input{
    width: 18px;
    height: 18px;
}
.BrandFooter p{
    color: rgb(42, 85, 229);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    font-family: regular1;
}
.brandSearch input{
    padding: 13px 12px 13px 30px;
    margin: 8px 16px;  
}
.brandSearch img {
    height:18px;
    width: 18px;
    position: absolute;
    left: 25px;
    top: 20px;
}
.brandSearch{
    position: relative;
}