.DesktopPriceFilterMain p {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 18.2px;
  font-family: semiBold;
}
.DesktopPriceFilterMain {
  padding: 0 16px 16px;
}
.priceSlider {
  position: relative;
  width: 100%;
  height: 30px;
}
.priceSlider input {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  pointer-events: none;
  -webkit-appearance: none;
  background: transparent;
  z-index: 3;
}
.priceSlider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}
.slider{
    width: 100%;
    height: 6px;
    background-color: #2874f0;
    position: absolute;
}
/* .slider .track {
  position: absolute;
  height: 6px;
  background-color: #ddd;
  border-radius: 3px;
} */
.sliderTop{
    height: 25px;
    display: flex;
    align-items: flex-end;
}
.sliderNdiv{
    height: 25px;
    width: 15px;
    background-color: #ffff;
}
.sliderTdiv{
    height: 25px;
    width: 60%;
    background-color: #e0e0e0;
}
.sliderSdiv{
    height: 20px;
    width: 12px;
    background-color: #e0e0e0;
}
.sliderMdiv{
    height: 18px;
    width: 15px;
    background-color: #e0e0e0;
}