.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 16px;
   max-width: 480px;
   margin: 0 auto;
}
.headerLogo{
   display: flex;
   max-width: 156px;
}

.headerSymbols{
   display: flex;
}
.headerSymbols span{
   margin-left: 12px;
}
.headerSymbols div{
   margin-left: 4px;
}
.headerSymbols div h4{
   font-family: regular1;
   font-weight: 400;
   font-size: 17px;

}
.headerLogo span:nth-child(1){
   margin-right: 12px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}
.headerLogo span:nth-child(2) img{
   height: 40px;
   width: 160px;
}
.headerLogo span:nth-child(2) {
   padding-top: 2px;
}
.Location{
   display: flex;
   padding: 4px 16px;
   align-items: center;
   text-align: center;
}
.Location h4{
   font-size: 12px;
   line-height: 18px;
   font-family: semiBold;
   margin-left: 4px;
}
.Location h4 span{
   color: #1254E7;
}
.SearchBar{
   padding: 12px 16px;
   position: relative;
}
.SearchBar input{
   border: 1px solid lightseagreen;
   border-radius: 12px;
   padding: 20px 12px 16px 45px;
   width: 100%;
   outline: none;
}
.SearchBar img{
   position: absolute;
   bottom: 26px;
   left: 30px;
}

.SearchBar input::placeholder{
   font-size: 15px;
   font-family: regular1;
   color: #000000e0;
}
.SearchBarHeaderProduct {
   position: relative;
   display: none;
}
.SearchBarHeaderProduct img{
   position: absolute;
   top: 10px;
   left: 10px;
}
.SearchBarHeaderProduct input{
   padding: 16px 12px 16px 45px;
   width: 100%;
   background-color: #f0f5ff;
   border: none;
   border-radius: 12px;
   text-overflow: ellipsis;
}
.SearchBarHeaderProduct input::placeholder{
   font-size: 18px;
   font-family: regular1;
}
.headerSymbols span:nth-child(4){
   display: none;
}
.headerSymbols span:nth-child(6){
   display: none;
}
.headerSymbols span:nth-child(7){
   display: none;
}
.headerSymbols span:nth-child(8){
   display: none;
}
.headerSymbols span:nth-child(9){
   display: none;
}

/* media query */
@media screen and (min-width:768px) {
   .HeaderSearchLocation{
      display: none;
   }
   .headerLogo span:nth-child(1){
      display: none;
   }
   .SearchBarHeaderProduct{
      display: block;
      flex: 1;
   }
   .headerSymbols span:nth-child(1){
      display: none;
   }
   .headerSymbols span:nth-child(4){
      display: block;
      margin-top: 5px;
      margin-left: 7px;
   }
   .headerSymbols span:nth-child(7){
      display: block;
   }
   .headerSymbols span:nth-child(9){
      display: block;
   }
   .headerSymbols span {
      margin-right: 8px;
   }
   .header{
      max-width:996px;
   }
   .headerSymbols{
      padding: 8px;
   }
   .headerLogo span:nth-child(2){
      margin-left: 45px;
   }
   .SearchBarHeaderProduct{
      margin-left: 35px;
   }
   .headerSymbols div{
      margin-top: 4px;
   }

}
@media screen and (min-width:1192px) {
   .headerSymbols span:nth-child(6){
      display: block;
   }
   .headerSymbols span:nth-child(8){
      display: block;
   }
   .header{
      max-width:1160px;
   }
   .headerSymbols span:nth-child(6) h4{
   font-size: 17px;
   font-family: regular1;
   color: #000000;
   line-height: 24px;
   text-align: center;
   letter-spacing: normal;
   font-weight: 400;
}
   .headerSymbols span:nth-child(8) h4{
      font-size: 17px;
      font-family: regular1;
      color: #000000;
      line-height: 24px;
      text-align: center;
      letter-spacing: normal;
      font-weight: 400;
   }
   
}
@media screen and (min-width:1400px){
   .header{
      max-width: 1600px;
   }
}