.filterBrand{
    padding: 16px;
    border-top: 1px solid #f0f0f0;
}
.brandMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #f0f0f0; */
    /* border-top: 1px solid #f0f0f0; */
    padding-bottom: 10px;
}
.brandMain img{
    transform: rotate(-90deg);
    height: 11px;
}
.brandMain h4{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    font-family: semiBold;
}
.brandInput input{
    padding-left: 21px;
    border: none;
}
.brandInput img{
    height: 12px;
    position: absolute;
    left: 0px;
    top: 4px;
}
.brandInput{
    position: relative;
    border-bottom: 2px solid #e0e0e0;
}
.boat label{
 padding-left: 11px;
 font-size: 14px;
 color: #212121;
 font-family: regular1;
}
.boat{
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.filterBrandSearch{
    display: none;
}
.open .filterBrandSearch {
    display: block;
}
.open .brandMain img{
    transform: rotate(90deg);
}
.more{
    margin-top: 9px;
}
.more p{
    font-size: 12px;
    color: #2874f0;
    font-family: semiBold;
    font-weight: 500;
}