.FlipFooter{
    background-color: rgb(33, 33, 33);
    width: 100%;
}
.FlipFooterOne{
   display: flex;
   align-items: flex-start;
   margin: 0 60px;
   padding:40px 0px 24px;
}
 .FooterSubOne{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    margin-right: 20px;
    flex: 1;
} 
.FooterSubTwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.FooterSubTwoOne{
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}
.FlipFooterTwo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 25px;
    border-top: 1px solid rgb(69, 77, 94);
}
 .FlipFooterTwo span {
    display: flex;
    align-items: center;
    text-align: center;
} 
.FooterSocial{
  display: flex;
  gap: 16px;
}
.FlipFooterOne ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 12PX;
    font-family: semiBold;
    line-height: 18px;
}
.FlipFooterOne h3{
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-family: regular;
}
.FooterSocialMain{
    margin-top:16px;
}
.FooterSubTwotwo li a{
    color: #2874f0;
}
.FlipFooterTwo p{
    color: #ffffff;
    font-size: 12px;
    font-family: regular;
    line-height: 18px;
}
.FlipFooterTwo span{
    display: flex;
    gap: 10px;
}

@media screen and (min-width:375px){
    .FlipFooter{
        display: none;
    }
}

@media screen  and (min-width:1024px){
    .FlipFooter{
        display: block;
    }
}

    