
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 10px;
    padding: 8px 0px 0px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.DiscountCard img{
    height: 150px;
    object-fit: contain;
    width: 100%;
}
 .DiscountCard{
   height: fit-content;
} 
.DiscountCardName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.DiscountCardImage{
    background-color: #f5f5f5;
    max-height: 187px;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    border-radius: 12px;
}
.DiscountCardMain{
    background-color: rgb(215, 215, 215);
    padding: 20px 12px;
    border-radius: 15px;
    margin: 12px 16px;

}
.DiscountCardMain h1{
    font-size: 17px;
    font-family: InterBold;
    padding: 8px;

}

@media screen and (min-width:1024px){
    .DiscountCardMain{
        display: none;
    }
}
