.discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 0 16px; */
}
.discount img{
    transform: rotate(-90deg);
    height: 10px;
}
.discount p{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 18.2px;
    color: rgb(33, 33, 33);
    font-family: semiBold;
}
.discountMain{
    padding: 16px;
}
.discountPrice{
    padding: 9px 0;
    display: flex;
    align-items: center;
    text-align: center;
    display: none;
}
.discountPrice label{
    padding-left: 11px;
    font-size: 14px;
    color: #212121;
    cursor: pointer;
    font-weight: 400;
    line-height: 14px;
    font-family: regular1;
    letter-spacing: normal;

}
.discountPriceMain{
    padding-top: 11px;
}
.open .discountPrice{
    display: flex;
}
.open .discount img{
    transform: rotate(90deg);
}