.FilterHeader{
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 18px 12px;
    align-items: center;
    text-align: center;
}
.Arrow{
    display: flex;
    gap: 22px;
}
.Arrow h3{
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 33, 33);
    font-family: regular1;
}
.clearFilter p{
   font-size: 13px;
   color: rgb(0,0,0);
   line-height: 12px;
   font-family: regular1;
}
.FilterCatecarry span{
    font-size: 14px;
    line-height: 20px;
    font-family: regular1;
    font-weight: 400;
    letter-spacing: normal;
    padding: 12px 8px 12px 16px;
}
.FilterCatecarry {
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 243, 246, 1.00);
    flex: 1;
}
.FilterFooter{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-color: white;
    
}
.FilterFooterPrice h4{
       font-size: 16px; 
       line-height: 19px;
       color: rgba(0, 0, 0, 1.00);
       font-family: regular1;
       font-weight: 400;
       letter-spacing: normal;
}  
.FilterFooterPrice p{
    color: rgba(135, 135, 135, 1.00);
    font-size: 12px;
    font-family: regular1;
    font-weight: 400;
}
.FilterFooterApply h3{
    color: rgba(255, 255, 255, 1.00);
    font-size: 14px;
    font-family: regular1;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
}
.FilterFooterApply{
    background-color: #ff5800;
    padding: 0 65px;
    display: flex;
    align-items: center;
    height: 40px;
}
.FilterMainTwo{
    display: flex;
    width: 100%;
    height: 100%;
}
.FilterMain{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.productFilter{
    flex: 2;
}

.color{
    background-color: white;
    color: #2874f0;
}