.DesktopFilterSide{
    flex: 1;
    display: none;
}
.filter h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 25.2px;
    color: rgb(33, 33, 33);
    font-family: InterBold;
}
.filter{
    padding: 16px 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}
.categories{
    padding: 16px;
}
.categories h2{
    font-size: 12px;
    font-weight: 500;
    font-family: semiBold;
    color: #212121;
    line-height: 16.8px;
}
.audio{
    display: flex;
    column-gap: 8px;
    padding: 5px 0;
}
.audio p{
    font-size: 14px;
    color: #878787;
    font-family: regular;
}
.headest{
    display: flex;
    column-gap: 8px;
    padding: 5px 0;
}
.headest h4 {
    font-size: 14px;
    color: #878787;
    font-family: regular;
    font-weight: 400;
    line-height: 19.6px;
}
.earphone{
    display: flex;
    column-gap: 8px;
    padding: 5px 0;
    align-items: center;
}
.earphone h3{
    font-weight: 500;
    font-size: 14px;
    color: rgb(33, 33, 33);
    line-height: 19.6px;
    font-family: semiBold;
}
.earphone img {
    height: 10px;
}
.earphoneCategory p {
    padding: 5px 16px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: rgb(33, 33, 33);
    font-family: regular1;
    display: none;
}
.open .earphoneCategory p {
    display: block;
}
 .open .earphone img {
    transform: rotate(-90deg);
}
.compatibleHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compatibleHead p {
    font-size:13px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 18.2px;
    color: rgb(33, 33, 33);
    font-family: semiBold;
}
.compatibleHead img{
    transform: rotate(-90deg);
    height: 10px;
}
.compatibleMain{
    padding:0 16px 16px;
}
.compatibleHead{
    padding: 16px 0;
}
.compatible{
    padding: 6px 0;
    display: none;
}
.open .compatible {
    display: block;
}
.open .compatibleHead img{
    transform: rotate(90deg);
}
.compatible label{
    padding-left:11px;
    font-size: 14px;
    color: #212121;
    font-family: regular1;
    font-weight: 400;
}
.assureImage{
    display: flex;
    column-gap: 10px;
    padding: 16px;
    align-items: center;
}
.assureImage img{
 height: 21px;
}
.avalability{
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px;
    align-items: center;
}
.avalability p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 18.2px;
    color: rgb(33, 33, 33);
    font-family: semiBold;
}
.avalability img{
    transform: rotate(-90deg);
    height: 10px;
}
@media screen and (min-width:1024px) {
    .DesktopFilterSide{
        display: block;
        width:280px;
        padding: 0 10px 0px 0px;
    }
    .filterSide{
      background-color: white;
    }
    
}